@use 'styles/variables/colors';

.navlink {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	user-select: none;

	&:first-child {
		margin-left: -1rem;
	}
}
